* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

#storyContainer {
  display: flex;

  flex-direction: column;
}

/* -------------------------- */
/* cover的css */

#coverPage {
  display: flex;
  justify-content: center;
}

#CoverImage {
  width: 595.5px;
  height: 595.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#cover_image {
  width: 595.5px;
  height: 595.5px;
}

#bookTitle {
  position: absolute;
  top: 50px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  max-width: 480px;
}

#CoverText {
  display: flex;
  width: 595.5px;
  height: 595.5px;
  align-items: end;
  justify-content: center;
}

#cover_text {
  margin-bottom: 3%;
  padding: 2px;
  text-align: center;
  font-size: 16pt;
}

/* ----------------------- */
/* innerPage的CSS */

#innerPageAll {
  display: flex;
  flex-direction: column;
}

.innerPage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.PageImage {
  width: 595.5px;
  height: 595.5px;
}

.page_image {
  width: 595.5px;
  height: 595.5px;
}

.PageText {
  display: flex;
  width: 595.5px;
  height: 595.5px;
  align-items: center;
  justify-content: center;
}

.page_text {
  margin-bottom: 3%;
  padding: 16px;
  text-align: center;
  font-size: 16pt;
}

#bookTitle {
  position: absolute;
  text-shadow: -1px 1px 1px white;
  font-family: "Noto Sans TC", sans-serif;
  /* font-size: 23px; */
  z-index: 2;
}
