* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#mainMenu {
  height: 60px;
  width: 100%;
  background-color: #162d3f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#iconMenue {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#icon {
  color: #d9cfbb;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 730;
  margin-right: 30px;
}

#mainMenu button {
  background: none;
  border: none;
  color: #d9cfbb;
  font-family: "Inter", sans-serif;

  font-size: 14px;
  margin: 20px;
}

#user img {
  width: 40px;
  height: 40px;
}
